<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <filter>
        <filter-name>AuthenticateFilter</filter-name>
        <filter-class>view.AuthenticateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticateFilter</filter-name>
        <url-pattern>/rank/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticateFilter</filter-name>
        <url-pattern>/profile/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticateFilter</filter-name>
        <url-pattern>/marketplace/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticateFilter</filter-name>
        <url-pattern>/manager/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticateFilter</filter-name>
        <url-pattern>/post/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticateFilter</filter-name>
        <url-pattern>/messenger/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticateFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>model.DAO.DBListener</listener-class>
    </listener>
    
    <listener>
        <description>ServletContextListener</description>
        <listener-class>util.SchedulerStarter</listener-class>
    </listener>
    <servlet>
        <servlet-name>User_marketplace</servlet-name>
        <servlet-class>controller.User_marketplace</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostComment</servlet-name>
        <servlet-class>controller.Post_comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewPost</servlet-name>
        <servlet-class>controller.Post_postView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>controller.User_authRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogout</servlet-name>
        <servlet-class>controller.User_authLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>controller.User_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileSetting</servlet-name>
        <servlet-class>controller.User_profileSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserChangePass</servlet-name>
        <servlet-class>controller.User_passChange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVerifyEmail</servlet-name>
        <servlet-class>controller.User_emailVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>view.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLostAccount</servlet-name>
        <servlet-class>controller.User_lostAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserNewPass</servlet-name>
        <servlet-class>controller.User_NewPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>controller.User_authLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopVip</servlet-name>
        <servlet-class>controller.User_rankViewTop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMyRank</servlet-name>
        <servlet-class>controller.User_rankView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostAddPost</servlet-name>
        <servlet-class>controller.Post_userAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInGroup</servlet-name>
        <servlet-class>controller.Group_detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post_managerAprrove</servlet-name>
        <servlet-class>controller.Post_managerAprrove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_rank</servlet-name>
        <servlet-class>controller.User_rank</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_lostAccount</servlet-name>
        <servlet-class>controller.User_lostAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_groupEdit</servlet-name>
        <servlet-class>controller.Group_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_groupOut</servlet-name>
        <servlet-class>controller.User_groupOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_groupViewPostMember</servlet-name>
        <servlet-class>controller.Group_userProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Event_addEvent</servlet-name>
        <servlet-class>controller.Event_addEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Event_eventList</servlet-name>
        <servlet-class>controller.Event_eventList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Group_list</servlet-name>
        <servlet-class>controller.Group_list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_allshop</servlet-name>
        <servlet-class>controller.Shop_allshop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_myShop</servlet-name>
        <servlet-class>controller.Shop_myShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_cart</servlet-name>
        <servlet-class>controller.Shop_cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_product</servlet-name>
        <servlet-class>controller.Shop_product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_shopDetail</servlet-name>
        <servlet-class>controller.Shop_shopDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_shopProduct</servlet-name>
        <servlet-class>controller.Shop_productDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_confirmOrder</servlet-name>
        <servlet-class>controller.Shop_confirmOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_history</servlet-name>
        <servlet-class>controller.Shop_history</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Advertising_MyAds</servlet-name>
        <servlet-class>controller.Advertising_MyAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Advertising_Boost</servlet-name>
        <servlet-class>controller.Advertising_Boost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_report</servlet-name>
        <servlet-class>controller.Manager_report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_post</servlet-name>
        <servlet-class>controller.Manager_post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post_detail</servlet-name>
        <servlet-class>controller.Post_detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Event_updateEvent</servlet-name>
        <servlet-class>controller.Event_updateEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Event_deleteEvent</servlet-name>
        <servlet-class>controller.Event_deleteEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report_handel</servlet-name>
        <servlet-class>controller.Report_submitRp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_handelRpManager</servlet-name>
        <servlet-class>controller.Admin_handelRpManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_ManageUsers</servlet-name>
        <servlet-class>controller.Admin_ManageUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_registerManager</servlet-name>
        <servlet-class>controller.User_registerManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notifications</servlet-name>
        <servlet-class>controller.Notifications</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notifications_List</servlet-name>
        <servlet-class>controller.Notifications_List</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_chat</servlet-name>
        <servlet-class>chat.User_chat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Topic_follow</servlet-name>
        <servlet-class>controller.Topic_follow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>controller.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chatAI</servlet-name>
        <servlet-class>controller.chatAI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Wallet</servlet-name>
        <servlet-class>controller.User_Wallet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Wallet_Deposit</servlet-name>
        <servlet-class>controller.User_Wallet_Deposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Wallet_Withdraw</servlet-name>
        <servlet-class>controller.User_Wallet_Withdraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_friendHandel</servlet-name>
        <servlet-class>controller.User_friendHandel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_friends</servlet-name>
        <servlet-class>controller.User_friends</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_search</servlet-name>
        <servlet-class>controller.User_search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post_rate</servlet-name>
        <servlet-class>controller.Post_rate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_confirmContinue</servlet-name>
        <servlet-class>controller.Shop_confirmContinue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Wallet_reload</servlet-name>
        <servlet-class>controller.Wallet_reload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_approve</servlet-name>
        <servlet-class>controller.Shop_approve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Wallet_balance</servlet-name>
        <servlet-class>controller.Wallet_balance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_createVoucher</servlet-name>
        <servlet-class>controller.Admin_createVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_exchangeVoucher</servlet-name>
        <servlet-class>controller.User_exchangeVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Advertising_Combo</servlet-name>
        <servlet-class>controller.Advertising_Combo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Advertising_Library</servlet-name>
        <servlet-class>controller.Advertising_Library</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Advertising_Campaign</servlet-name>
        <servlet-class>controller.Advertising_Campaign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Advertising_Campaign_Detail</servlet-name>
        <servlet-class>controller.Advertising_Campaign_Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirect</servlet-name>
        <servlet-class>controller.Redirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Advertising_Report</servlet-name>
        <servlet-class>controller.Advertising_Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_feedBack</servlet-name>
        <servlet-class>controller.User_feedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_viewFeedBack</servlet-name>
        <servlet-class>controller.Admin_viewFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_SearchSuggestion</servlet-name>
        <servlet-class>controller.User_SearchSuggestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostComment</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewPost</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileSetting</servlet-name>
        <url-pattern>/profile/setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserChangePass</servlet-name>
        <url-pattern>/profile/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerifyEmail</servlet-name>
        <url-pattern>/verifyemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLostAccount</servlet-name>
        <url-pattern>/lostaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserNewPass</servlet-name>
        <url-pattern>/newpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/logingooglehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopVip</servlet-name>
        <url-pattern>/rank/topvip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMyRank</servlet-name>
        <url-pattern>/rank/userrank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostAddPost</servlet-name>
        <url-pattern>/addpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInGroup</servlet-name>
        <url-pattern>/group/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post_managerAprrove</servlet-name>
        <url-pattern>/manager/postAprrove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_rank</servlet-name>
        <url-pattern>/rank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_lostAccount</servlet-name>
        <url-pattern>/lostAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Event_addEvent</servlet-name>
        <url-pattern>/addEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Event_eventList</servlet-name>
        <url-pattern>/listEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_groupEdit</servlet-name>
        <url-pattern>/group/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Group_list</servlet-name>
        <url-pattern>/group</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_groupViewPostMember</servlet-name>
        <url-pattern>/group/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_marketplace</servlet-name>
        <url-pattern>/marketplace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_allshop</servlet-name>
        <url-pattern>/marketplace/allshop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_myShop</servlet-name>
        <url-pattern>/marketplace/myshop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_cart</servlet-name>
        <url-pattern>/marketplace/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_product</servlet-name>
        <url-pattern>/marketplace/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_shopDetail</servlet-name>
        <url-pattern>/marketplace/allshop/shopdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_shopProduct</servlet-name>
        <url-pattern>/marketplace/allshop/shopdetail/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_confirmOrder</servlet-name>
        <url-pattern>/marketplace/confirmorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_history</servlet-name>
        <url-pattern>/marketplace/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_friendHandel</servlet-name>
        <url-pattern>/friendHandel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_friends</servlet-name>
        <url-pattern>/friends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Advertising_MyAds</servlet-name>
        <url-pattern>/advertising</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Advertising_Boost</servlet-name>
        <url-pattern>/advertising/boost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_report</servlet-name>
        <url-pattern>/manager/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_post</servlet-name>
        <url-pattern>/manager/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post_detail</servlet-name>
        <url-pattern>/post/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Event_updateEvent</servlet-name>
        <url-pattern>/updateEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Event_deleteEvent</servlet-name>
        <url-pattern>/deleteEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post_rate</servlet-name>
        <url-pattern>/rate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report_handel</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_handelRpManager</servlet-name>
        <url-pattern>/admin/handelRpManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_ManageUsers</servlet-name>
        <url-pattern>/admin/ManageUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_registerManager</servlet-name>
        <url-pattern>/registerManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_chat</servlet-name>
        <url-pattern>/messenger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Topic_follow</servlet-name>
        <url-pattern>/follow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notifications</servlet-name>
        <url-pattern>/notifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notifications_List</servlet-name>
        <url-pattern>/allnotifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chatAI</servlet-name>
        <url-pattern>/chatai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Wallet</servlet-name>
        <url-pattern>/wallet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Wallet_Deposit</servlet-name>
        <url-pattern>/wallet/deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Wallet_Withdraw</servlet-name>
        <url-pattern>/wallet/withdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_confirmContinue</servlet-name>
        <url-pattern>/marketplace/confirmcontinue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Wallet_reload</servlet-name>
        <url-pattern>/reloadwallet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_approve</servlet-name>
        <url-pattern>/admin/approveshop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Wallet_balance</servlet-name>
        <url-pattern>/walletbalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_createVoucher</servlet-name>
        <url-pattern>/admin/createvoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_exchangeVoucher</servlet-name>
        <url-pattern>/rank/exchangevoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Advertising_Combo</servlet-name>
        <url-pattern>/advertising/combo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Advertising_Library</servlet-name>
        <url-pattern>/advertising/library</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Advertising_Campaign</servlet-name>
        <url-pattern>/advertising/campaign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Advertising_Campaign_Detail</servlet-name>
        <url-pattern>/advertising/campaign/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Advertising_Report</servlet-name>
        <url-pattern>/advertising/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_feedBack</servlet-name>
        <url-pattern>/feedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_viewFeedBack</servlet-name>
        <url-pattern>/admin/viewFeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_SearchSuggestion</servlet-name>
        <url-pattern>/searchSuggestions</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index_guest.jsp</welcome-file>
    </welcome-file-list>
</web-app>
