<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <!-- Context Parameters -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <!-- Listener -->
    <filter>
        <filter-name>AuthenticateFilter</filter-name>
        <filter-class>view.AuthenticateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticateFilter</filter-name>
        <url-pattern>/rank/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticateFilter</filter-name>
        <url-pattern>/marketplace/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticateFilter</filter-name>
        <url-pattern>/profile/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>model.DAO.DBListener</listener-class>
    </listener>
    <!-- Servlets -->
    <servlet>
        <servlet-name>Post_comment</servlet-name>
        <servlet-class>controller.Post_comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_viewpost</servlet-name>
        <servlet-class>controller.User_postView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_register</servlet-name>
        <servlet-class>controller.User_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_logout</servlet-name>
        <servlet-class>controller.User_logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_profile</servlet-name>
        <servlet-class>controller.User_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_profileSetting</servlet-name>
        <servlet-class>controller.User_profileSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_changePass</servlet-name>
        <servlet-class>controller.User_passChange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_VerifyEmail</servlet-name>
        <servlet-class>controller.User_emailVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>view.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_LostAccount</servlet-name>
        <servlet-class>controller.User_lostAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_NewPass</servlet-name>
        <servlet-class>controller.User_NewPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>controller.User_loginGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Rank</servlet-name>
        <servlet-class>controller.User_Rank</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopVip</servlet-name>
        <servlet-class>controller.User_topVip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_MyRank</servlet-name>
        <servlet-class>controller.User_rankView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post_addpost</servlet-name>
        <servlet-class>controller.Post_addUser</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>User_marketplace</servlet-name>
        <servlet-class>controller.User_marketplace</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_allshop</servlet-name>
        <servlet-class>controller.Shop_allshop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_myShop</servlet-name>
        <servlet-class>controller.Shop_myShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_cart</servlet-name>
        <servlet-class>controller.Shop_cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_product</servlet-name>
        <servlet-class>controller.Shop_product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_shopDetail</servlet-name>
        <servlet-class>controller.Shop_shopDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_shopProduct</servlet-name>
        <servlet-class>controller.Shop_productDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_confirmOrder</servlet-name>
        <servlet-class>controller.Shop_confirmOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_history</servlet-name>
        <servlet-class>controller.Shop_history</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Post_comment</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_viewpost</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_profileSetting</servlet-name>
        <url-pattern>/profile/setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_changePass</servlet-name>
        <url-pattern>/profile/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_VerifyEmail</servlet-name>
        <url-pattern>/verifyemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_LostAccount</servlet-name>
        <url-pattern>/lostaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_NewPass</servlet-name>
        <url-pattern>/newpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/logingooglehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_MyRank</servlet-name>
        <url-pattern>/rank/userrank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Rank</servlet-name>
        <url-pattern>/rank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopVip</servlet-name>
        <url-pattern>/rank/topvip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post_addpost</servlet-name>
        <url-pattern>/addpost</url-pattern>
    </servlet-mapping>
    <!-- Welcome File List -->
    <servlet-mapping>
        <servlet-name>User_marketplace</servlet-name>
        <url-pattern>/marketplace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_allshop</servlet-name>
        <url-pattern>/marketplace/allshop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_myShop</servlet-name>
        <url-pattern>/marketplace/myshop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_cart</servlet-name>
        <url-pattern>/marketplace/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_product</servlet-name>
        <url-pattern>/marketplace/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_shopDetail</servlet-name>
        <url-pattern>/marketplace/allshop/shopdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_shopProduct</servlet-name>
        <url-pattern>/marketplace/allshop/shopdetail/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_confirmOrder</servlet-name>
        <url-pattern>/marketplace/confirmorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_history</servlet-name>
        <url-pattern>/marketplace/history</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
